[id] {border: 1px solid black; border-radius:5px;}

#tecnologias {
    height: 100px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box; 
}

#projetos{
    height: 300px;
    width: 100%;
}
#acoes{
    height: 200px;
    width: 100%;
}

.nova-div {
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    display: inline-block;
}

